//Colors
@import 'client_colors.scss';
//Fonts
@import 'client_fontface.scss';
$font_padrao: 'Roboto', sans-serif;
$icon: 'FontAwesome';


//Mixins Border-radius
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}

//Mixins Vertical-align
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

//Mixins Placeholder
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
//Mixins animation
@mixin fade-up-in($vendor: "") {
  0% {
    opacity: 0;
    #{$vendor}transform: translateY(20px);
  }
  100% {
    opacity: 1;
    #{$vendor}transform: translateY(0);
  }
}

//Mixin duotone
@mixin duotone {
  &:before {
    background-color: rgb(193, 208, 245);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;  ;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:after {
    // background-color: rgb(21, 43, 96);  
    background-color: rgb(113, 139, 199);  
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    // mix-blend-mode: lighten;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    left: 0;
  }
}

//Mixins shadows
@mixin shadow {
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.28);
  box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.28);
}

@mixin shadow-top {
  -webkit-box-shadow: 10px -8px 35px -1px rgba(0,0,0,0.14);
  -moz-box-shadow: 10px -8px 35px -1px rgba(0,0,0,0.14);
  box-shadow: 10px -8px 35px -1px rgba(0,0,0,0.14);
}

// @mixin shadowBoxs ($hLength, $vLength, $bRadius, $sRadius, $coShadow) {
//   -webkit-box-shadow: $hLength $vLength $bRadius $sRadius $coShadow;
//   -moz-box-shadow: $hLength $vLength $bRadius $sRadius $coShadow;
//   box-shadow: $hLength $vLength $bRadius $sRadius $coShadow;
// }

@mixin shadowBoxs ($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
  box-shadow: $x-axis $y-axis $blur $color;
}

//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray !important;  
  font-size: 1.4rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray !important;  
  font-size: 1.4rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray !important;  
  font-size: 1.4rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray !important;  
  font-size: 1.4rem;
}
.hidden {
  display: none !important;
  transition: 0.3s;
}
.btn_client {
  background: $white;
  color: $blue-1;
  transition: 0.3s;
  padding-left: 25px;
  padding-right: 25px;
  @include border-radius (100px);
    &:hover {
      background: $blue-3;
      color: #ffffff;
      transition: 0.3s;
    }
    &.blue,
    &.blue-2 {
      @include border-radius (2px);
      background: $blue-1;
      color: $white;
      &:hover {
        background: $blue-3;
      }
    }
    &.blue-2 {
      @include border-radius (100px);
    }
    &.btnLine {
      background: $white;
      border: 1px solid $blue-1;
      &:hover {
        background: $blue-3;
        color: $white;
      }
    }
}

input[type="checkbox"]{
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff;
  border: 1px solid $blue-1;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box ;
  width: 30px;
  height: 30px;
  border-width: 1;
  transition: all .3s linear;
  @include border-radius (0px);
  &:checked{
    background-color: $blue-2;
    text-align: center;
    &:after {
      content: '\f00c';
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;       
      position: absolute;
      top: 3px;
      left: 8px;
      color: $white;
    }
  }
  &:focus {
    outline: 0 none;
    box-shadow: none;
  }
}
.form-row {
  .btn_client {
    width: 100%;
    padding: 0.9rem;
  }
  .form-group {
    position: relative;    
    height: 75px;
    .label {
      position: absolute;
      padding-left: 5px;
      padding-top: 5px;
      font-size: 1.2rem;
      font-weight: 400;
      span {
        font-size: 0.7rem;
      }
    }
  }
  .btLocal {
    line-height:68px;
    padding: 0 10px; 
    font-size: 1.9rem;
  }
}
input[type="radio"]{
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff;
  border: 1px solid $blue-1;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box ;
  width: 25px;
  height: 25px;
  border-width: 1;
  transition: all .3s linear;
  @include border-radius (100px);
  &:checked{
    background-color: $blue-2;
    text-align: center;
    &:after {
      content: '\f111';
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;       
      position: absolute;
      font-size: 0.84rem;
      top: 3px;
      left: 6px;
      color: $white;
    }
  }
  &:focus {
    outline: 0 none;
    box-shadow: none;
  }
}
.form-check {
  .form-check-label {
    position: absolute;
    top: 9px;
    left: 41px;
  } 
}

.form-check-inline {
  .form-check-label {
    position: inherit;
    top: 2px;
    left: 1px;
  }
}
.form-control {
  color: $gray;
  border-color: $gray-2;    
  @include border-radius (0px);  
  height: 70px;
  padding-top: 40px;
  padding-left: 5px;
  font-weight: 100;  
}
.lSel {
  top: 0;
  z-index: 2;
}
.bootstrap-select {
  width: 100% !important;
  color: $gray;  
  button {
    background: #fff;
    border-color: $gray-2;    
    @include border-radius (0px);
    height: 70px;
    padding-top: 37px;
    padding-left: 5px;
    font-weight: 100;
    &:focus,
    &:hover {
      background: #fff;
      border-color: $blue-1;    
    }
  }
  .dropdown-toggle {
    &.bs-placeholder {
      color: $gray;
    }
    &:before {
      display: none;
    }
    &:after {
      content: '\f0ab';
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;
      border: 0 !important;
      margin-left: 0;
      margin-right: 12px;
      color: $blue-1 !important;      
    }
  }
  &.show {
    .btn-light.dropdown-toggle {
      color: $gray;
      background-color: $blue-2;
      border-color: $blue-1;    
    }
  }
  .dropdown-item{
    &.active {
      background-color: $blue-2;
      color: $gray;
    }
  }
}
body {
  color: $gray;
}
//Nav Principal
.navClient {
  top: 0;
  background: transparent !important;
  position: absolute;
  z-index: 2;
  width: 100%;
  transition: 0.3s;
  .navbar-nav {
    li {
      margin-left: 10px;
      .nav-link {
        background: $blue-1;
        color: $white !important;
        font-weight: 100;
        padding: .2rem 1.2rem !important;
        font-size: 1.0rem;
        transition: 0.3s;
          &:hover{
            background: $blue-3;      
            transition: 0.3s;
          }
      }
    }
  }
  .navbar-toggler {
    border: 0;
  }    
  .fixedNav{
    background: $white !important;
    transition: 0.3s;
    z-index: 3;
    position: fixed;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);        
    figure {
      margin-bottom: 0;
    }
  }
}
//SocialHeader
.social_header {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin-left: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;    
    border: 1px solid $blue-1;
    @include border-radius(100px);
    width: 40px;
    height: 40px;
    background: $blue-1;
    transition: 0.3s;
    &:hover{
      background: $blue-3;      
      transition: 0.3s;
      a {
        // color: $blue-1;  
      }
    }
    a {
      color: $white;
      transition: 0.3s;
      &:hover {
        text-decoration: none;
        transition: 0.3s;        
      }
    }
  }
}

//Carrousel
.carousel {  
  .carousel-inner {
    height: 560px;
    width: 100%;                    
    .carousel-item {
      background: url('../images/bg-header.jpg') top center no-repeat;
      background-size: cover;
      height: 560px;      
    }    
  }
  .carousel-caption {
    position: relative;
    color: $gray; 
    text-align: left;
    height: 560px;    
    .chamadaHeader {
      @include vertical-align ();
      span {
        display: block;
        font-size: 1.9rem;
        font-weight: 100;
        line-height: 1.8px;
      }
      strong {
        font-size: 3.5rem;
        font-weight: 700;
      }
    }
  }
}  

//Seguros Home
.segurosHome {
  .segPrincipais {
    text-align: center;
    margin-top: -140px;
    figure {
      background: $white;
      width: 260px;
      margin: 0 auto;
      padding: 20px;
      @include border-radius (8px);
      @include shadow();
      figcaption {
        font-size: 1.5rem;
        font-weight: 300;
        strong {
          font-weight: 700;
        }
      }
      img {
        margin-bottom: 10px;
      }
    }
  }
  .segSecundarios {
    margin-top: 30px;
    text-align: center;
    figure {
      figcaption {
        strong {
          display: block;
        }
      }
    }
  }
  a {
    color: $gray;
    transition: 0.3s;
    &:hover {
      color: $blue-1;
      text-decoration: none;
      transition: 0.3s;
    }
  }
}

//Accordion
#accordion {
  margin: 20px 0 50px;
  .card {
    @include border-radius (0px);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: $blue-1;
    .card-header {
      background: transparent;
      border: 0;
      .btn-link {
        width: 100%;
        text-align: left;
        color: $blue-1;
        text-decoration: none;
        font-weight: 900;
        padding-left: 0; 
        word-wrap:  break-word;
        &:after {
          content: ' - ';
          display: inline-block;
          float: right;
          transition: 0.3s;
          font-weight: 900;
          color: $blue-1;
        }
        &.collapsed {
          color: $gray;
          padding-left: 0;         
          font-weight: 400;
          &:after {
            font-weight: 100;
            content: ' + ';
            display: inline-block;
            float: right;
            transition: 0.3s;
            color: $blue-1;
          }
        }  
      }
    }  
  }  
}

//Modal
.modal-content {
  padding-bottom: 20px;
  .titleSecion {
    margin: 30px 0;
  }  
  .close {
    font-size: 1.9rem;
    line-height: 110px;
    color: $blue-1;
    opacity: 1;
  }
}

//Titles 
.titleSecion {
  font-weight: 900;
  line-height: 1.6rem;
  span {
    display: block;
    font-weight: 400;
    font-size: 1.2rem;    
  }
}

//CallActions
.callAction-1 {
  margin: 50px 0;
  padding: 10px 0;
  background: $blue-1;
  color: $white;
  h2 {
    font-weight: 700;
    font-size: 2.2rem;
    span {
      text-align: left;
      display: block;
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
  .btn_client {
    border: 1px solid $white;
    transition: 0.3s;
    &:hover {
      background: $blue-1;
      color: $white;
      transition: 0.3s;
    }
  }
}

.callAction-2 {
  text-align: center;   
  margin: 50px 0;
  padding: 10px 0;
  h2 {
    font-weight: 700; 
    span {
      display: block;
      font-weight: 300;
      font-size: 1.5rem;      
      margin-top: 5px;
    }
  }  
  .btn_client {
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background: $blue-1;
    color: $white;
    transition: 0.3s;
    &:hover {
      background: $blue-3;
      transition: 0.3s;
      text-decoration: none;
    }
  }
}

//seguradorasHome
.seguradorasHome {
  padding: 50px 0 20px;
  .title {
    text-align: center;
    font-weight: 100;
    margin-bottom: 50px;
  }
  figure {
    height: 84px;
    position: relative;
    text-align: center;
    img {
      @include vertical-align ();
    }    
  }
}

//contactHome
.contactHome {
  padding: 50px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      color: $gray;
      font-size: 1.0rem;
      span{
        display: inline-block;
        text-align: center;
        width: 28px !important;
        color: $blue-1;
        font-size: 1.4rem;
      }
    }
  }
}
//galImage
.galImage{
  overflow: hidden;
  position: relative;
  height: 500px;
  padding: 65px 0 50px;
  color: $white;
  .bloco {
    bottom: 12%;
    left: -10%;
    position: absolute;
    background: $blue-1;
    width: 120%;
    height: 399px;
    transform: rotate(2deg);
  }
  .stpCotacao {
    text-align: center;
    figure {
      height: 130px;      
      img {
        width: auto;        
        margin: 0 auto;
        height: 125px;
      }
    }
  }
  .gallery {
    div {
      margin-top: 18px;
      .img-thumbnail {
        border: 1px solid $white;
        padding: 0;
        @include border-radius(0px);
      }
    }
  }
}
//breadcrumb
.breadcrumb {
  margin-top: 40px;
  background: transparent;
  font-size: 0.8rem;
  font-style: italic;
  .active {
    color: $gray-2;
  }  
  a {
    color: $blue-1;
  }
}

//fichaTec 
.fichaTec {
  .nameVersion {
    font-weight: 100;
    font-style: italic;
    font-size: 1.5rem;
  }
  .cSimple {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    li {
      .badge {
        background: $blue-1;
        color: $white;
        font-weight: 300;
        margin-left: 5px;
        padding-left: 8px;
        padding-right: 8px;
        @include border-radius(3px);
      }
    }
  }
  .btn-link {
    span {
      width: 46px;
      height: 46px;
      @include border-radius(100px);
      background: $blue-1;
      color: $white !important;
      font-weight: 300 !important;
      display: inline-block;
      padding: 10px 0;
      text-align: center;
      margin-right: 10px;
    }
  }
  #accordion {
    margin-top: 0;
  }
  .card-body {
    display: flex;
    justify-content: space-between;
    // justify-content: center;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin: 0 0 10px;        
        font-size: 1.1rem;
        strong {
          width: 230px;
          display: inline-block;
        }
      }
    }
  }
  .show {
    background: $gray-3;
    border-top: 1px solid $blue-1;
    transition: 0.2s;
  }
}

//headerInterna
.headerInterna {
  margin-top: 100px;
  height: 100px;
  background: $blue-1;
}

//headerBem
.headerBem {
  margin-top: 100px;
  position: relative;
  height: 240px;
  overflow: hidden;
  z-index: 0;
  figure {
    width: 100%;    
    overflow: hidden;  
    position: absolute;  
    @include duotone ();
    img {
      z-index: 2;
    }    
  }
  .overlay-content {
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 3;
    top: 80px;
    h2 {
      color: $white;
      font-weight: 900;
      font-style: italic;
      font-size: 12.0rem;
    }
  }
}

//infoVeicle
.infoVeicle {
  margin: -60px 0 50px 0;
  z-index: 5;
  h3 {
    font-weight: 700;
  }  
  .descBem {
    margin-top: 80px;
    margin-bottom: 30px;
    .cat{
      font-weight: 700;
      font-size: 1.2rem;
      font-style: italic;
    }
    .name{
      font-weight: 700;
      font-size: 2.2rem;
      line-height: 1.54rem;
    }
    .version{
      font-weight: 100;
      font-size: 2.0rem;
      line-height: 2.54rem;
      margin-bottom: 10px;
      font-style: italic;
    }
    .contact {
      margin: 10px 0;
      font-size: 0.8rem;
      a {
        color: $gray;
        font-weight: 700;
      }
    }    
  }
}

//coberAssis
.coberAssis {
  overflow: hidden;
  position: relative;
  height: 500px;
  padding: 65px 0 50px;
  color: $gray;
  .bloco {
    bottom: 12%;
    left: -10%;
    position: absolute;
    background: $gray-3;
    width: 120%;
    height: 399px;
    transform: rotate(2deg);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 30px 0 0;
    li {
      margin: 0 0 10px 0;
      padding-left: 34px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        @include border-radius (100px);
        background: $blue-1
      }
    }
  }
  .btn_client {
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background: $blue-1;
    color: $white;
    transition: 0.3s;
    &:hover {
      background: $blue-3;
      transition: 0.3s;
      text-decoration: none;
    }
  }
}

//cotacaoHome
.cotacaoHome {
  overflow: hidden;
  position: relative;
  height: 500px;
  padding: 80px 0 50px;
  color: $white;
  .bloco {
    bottom: 12%;
    left: -10%;
    position: absolute;
    background: $blue-1;
    width: 120%;
    height: 399px;
    transform: rotate(2deg);
  }
  .stpCotacao {
    text-align: center;
    figure {
      height: 130px;      
      img {
        width: auto;        
        margin: 0 auto;
        height: 125px;
      }
    }
  }
}

//vantagemHome
.vantagemHome {
  padding: 50px 0;
  .titleSecion {
    margin-bottom: 40px;
  }
  .vantagem {
    display: flex;
    margin-bottom: 20px;
    .icon {
      background: $blue-1;
      height: 108px;
      line-height: 108px;
      padding-left: 20px;
      padding-right: 20px;
      margin-right: 15px;

      @include border-radius(100px);
    }
    strong {
      color: $blue-1;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

//newsHome
.newsHome {
  padding: 50px 0;
  .titleSecion {
    margin-bottom: 30px;
  }
  .newsCard {
    margin: 10px 0 0;
    min-height: 320px;
    a {
      color: $gray;
      font-size: 0.9rem;
      font-weight: 300;
      h4 {
        color: $blue-1;
        font-size: 1.4rem;
      }
      img {
        width: 100%;

        border: 1px solid $blue-1;        
        transition: 0.3s;        
      }
      &:hover {
        text-decoration: none;
        color: $blue-2;
        transition: 0.3s;
        img {
          opacity: 0.6;
        }                
      }
    }  
  }
}  

//Blog
#noticias {
  .noticia {
    margin-bottom: 50px;
    a {
      color: $gray;
      transition: 0.3s;
      figure {
        position: relative;
        z-index: 1 !important;
        img {
          width: 100% !important;
          border: 1px solid $blue-1; 
        }
      }
      .content {
        margin: -80px 20px 0 20px;
        padding: 10px;
        background: $white;      
        position: relative;
        z-index: 2 !important;      
        @include shadowBoxs(10px, -8px, 35px, rgba(0,0,0,0.14));

      }          
      &:hover {
        color: $blue-1;
        text-decoration: none;
        transition: 0.3s;
      }
    }
    .nav-news {
      list-style: none;
      padding: 0px;
      margin: 0;
      li {
        display: inline-block;
        margin-bottom: 5px;
        color: $blue-1;
        font-size: 0.8rem;
        a {
          padding: 2px 8px;
          margin-right: 5px;          
          background: $blue-1;          
          color: $white;
          font-weight: 100;
          &:hover {
            background: $blue-2;
            text-decoration: none;          
          }
        }
      }
    }
    &.newOpen {
      figure {
        margin-bottom: 0;
      }
      .content {
        margin: 0;
        padding: 10px 0; 
        @include shadowBoxs(0, 0, 0, #fff);
        .gallery {
          margin-bottom: 20px;
          .img-thumbnail {
            border: 1px solid $white;
            padding: 0;
            @include border-radius(0px);
          }
        }
      }
    }
  }   
}
#myVideo {
  width: 100%;
  height: auto;
}
//aside 
aside {
  h4 {
    font-weight: 900;
  }
  .lastPosts {
    margin-bottom: 30px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 10px;
        border-bottom:  1px solid $blue-1;
        padding-bottom: 3px;
        a {        
          .title {font-size: 0.9rem; margin-bottom: 0;}        
          .date {font-size: 0.9rem;}
          color: $gray;
          transition: 0.3s;
          &:hover {
            color: $blue-1;
            transition: 0.3s;
            text-decoration: none;
          }
        }
      }
    }
  }  
}
//qtmSeguroe
.qtmSeguros {
  .listSeguros {
    margin-bottom: 30px;
    border-bottom: 1px solid $gray-2;
    padding-bottom: 30px;
    h5 {
      font-size: 1.5rem;
      font-weight: 700;
      span {
        font-weight: 300;
      }
    }
    img {
      width: 74px;
      height: auto;
    }
  }
}

//Footer
footer {
  background: $blue-1;
  color: $white;
  border-top: 5px solid $blue-3;
  padding: 20px 0 0;
  .logoFooter {
    img {
      margin-bottom: 10px;
    }
    figcaption {
      font-size: 0.9rem;  
    }
  }
  .copy {
    border-top: 2px solid $blue-3;
    padding-top: 10px;
    font-size: 0.7rem;
  }
  .navFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
  }
  .centralVendas {
    margin-top: 10px;
    small {
      font-size: 0.6rem;   
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        color: $white;
        transition: 0.3s;
        &:hover {
          color: $blue-3;
          transition: 0.3s;
          text-decoration: none;
      }
    }
  }
}
.nav-3 {
  ul {
    text-align: center;
  }
  ul:before {
    content: ' Sigam nossas redes sociais: ';
    display: block;
    text-align: center;
    font-size: 0.7rem;
  }
  li {
    display: inline-block;
    margin: 10px;
  }
}

}

//wizard
.wizardClient {  
  margin-bottom: 100px;
  .form-group { 
    height: auto;
  }
  .form-row {
    margin-bottom: 10px;    
  }
  .headerSteps {
    color: $gray;
    margin-bottom: 30px;
    h2 {
      font-weight: 900;
      margin-bottom: 0;
    }
    h4 {
      font-weight: 300;
    }
  }  
  .link_form {
    color: $gray;
    font-weight: bolder;
  }
  #step {
    margin: 50px 0;
  }
  .step-2,
  .step-3,
  .step-4 {
    // display: none;
  }
}
.perg {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 4px;
  display: block;
  width: 100%;
  font-weight: bolder;
}
.condutor {
  .form-group { 
    height: auto;
  }
}


.f1-steps { 
  overflow: hidden; 
  position: relative; 
  margin-top: 20px; 
  .f1-progress { 
    position: absolute; 
    top: 24px; 
    left: 0; 
    width: 100%; 
    height: 2px; 
    background: $gray-1; 
    .f1-progress-line { 
      position: absolute; 
      top: 0; 
      left: 0; 
      height: 2px; 
      background: $blue-1; 
    }
  }
  display: flex;
  justify-content: space-between;
  .f1-step { 
    position: relative;    
    text-align: center; 
    .f1-step-icon {
      display: inline-block; 
      width: 40px; 
      height: 40px; 
      margin-top: 4px; 
      background: $gray-1;
      font-size: 16px; 
      color: $white;
      line-height: 40px;
      @include border-radius (100px);
    }
    &.activated {
      .f1-step-icon {
        background: $white;
        border: 1px solid $blue-1; 
        color: $blue-1; 
        line-height: 38px;
      }
      p { color: $blue-1;  }
    }
    &.active {
      .f1-step-icon {
        width: 48px; 
        height: 48px; 
        margin-top: 0; 
        background: $blue-1; 
        font-size: 22px; 
        line-height: 48px;
      }
      p { color: $blue-1; }
    }
    p { 
      color: $gray-1;
      font-weight: 200;
      font-size: 1.1rem;
    }
  }  
}


//Media Queries
@import 'client_style_queries.scss';