
// @font-face {
//     font-family: 'helvetica_n';
//     src: url('../fonts/helvetica-67-medium-condensed-webfont.woff2') format('woff2'),
//          url('../fonts/helvetica-67-medium-condensed-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }