//Colors
$yellow: #ffdd00;
$orange: #ffa530;
$brown : #e29f00;

$red   : #ed1b2e;

$yellow-50: rgba(255, 211, 0, 0.5);

$white :  #FFFFFF;
$gray-1:  #F4F4F4;
$blue-1:  #617FC6;
$blue-2:  #5993C1;
$blue-3:  #004C79;
$gray  :  #292929;
$gray-2:  #DBDBDB;
$gray-3:  #F4F4F4;