@import 'client_fontface.scss';
//Colors
@import 'client_colors.scss';
//@import "./node_modules/sass-mediaqueries/_media-queries.scss";    

$mq-mobile-portrait   : 320px  !default;
$mq-mobile-landscape  : 480px  !default;
$mq-tablet-portrait   : 768px  !default;
$mq-tablet-landscape  : 980px  !default;
$mq-desktop           : 1200px !default;

//Mixins Border-radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

//MOBILE
// Both portrait and landscape
@mixin mobile-only {
  @media (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
  @media (min-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
  @media only screen and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
  @media only screen and (min-width : $mq-mobile-portrait + 1) {
    @content;
  }
}

// tablet
// ------------------------------

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
  @media only screen and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
  @media only screen and (min-width : $mq-mobile-landscape + 1) {
    @content;
  }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
  @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
  @media only screen and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
  @media only screen and (min-width : $mq-tablet-portrait + 1) {
    @content;
  }
}

// desktop
// ------------------------------

// Everything larger than a landscape tablet
@mixin desktop-and-up {
  @media only screen and (min-width : $mq-tablet-landscape + 1) {
    @content;
  }
}

// Everything below and including the desktop 
@mixin desktop-and-below {
  @media only screen and (max-width : $mq-desktop) {
    @content;
  }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop-and-below {
  @media only screen and (min-width : $mq-tablet-landscape + 1) and (max-width : $mq-desktop) {
    @content;
  }
}

// retina
// ------------------------------

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}

@include mobile-only() {
  .navbar-collapse {    
      background: $white;
      padding: 10px;    
      li {
        margin-left: 0px !important ;
        margin-bottom: 1px;
        text-align: center;
      }
      .social_header {
        text-align: center;
        margin-top: 10px;
      }    
  }
  .callAction-1 {
    h2 {
      font-size: 1.8rem;
      span {
        font-size: 0.9rem;
      }
    }
    a {     
      margin: 10px auto;
    }
  }  
  .carousel {
    .carousel-inner,
    .carousel-item {
      height: 450px;
      border-bottom: 5px solid $blue-1;
    }    
    .carousel-item {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 450px;
        top: 0;
        left: 0;
        background: $white;
        opacity: 0.4;
      }
    }
    .carousel-caption {
      left: 4%;
      right: 4%;
      height: 450px;
      .chamadaHeader {
        span {
          font-size: 1.2rem;
          line-height: 1.9rem;
        }
        strong {
          font-size: 3.1rem;
          line-height: 2.4rem;
        }
      }  
    }
  }
  .segurosHome {
    .segPrincipais {
      margin-top: -100px;
      figure {
        width: auto !important;
        padding: 10px;
        img {
          height: 70px;
          width: auto;
        }
        figcaption {
          font-size: 0.9rem;
          strong {
            display: block;
          }
        }
      }
    }
  }
  .titleSecion {
    line-height: 2.0rem;
    span {
      display: block;
      font-weight: 400;
      font-size: 1.2rem;    
    }
  }
  .contactHome {
    ul {
      margin-bottom: 30px;
    }
  }
  .label {
      font-size: 0.92rem !important;
      span {
        font-size: 0.6rem !important;
      }
  }
  .bootstrap-select {
    button {
      font-size: 1.0rem !important;
    }
  }
  .cotacaoHome,
  .coberAssis,
  .galImage {
    height: auto !important;
    padding: 40px 0 160px;
    .bloco {
      height: 100%;
    }
  }
  .galImage {
    padding-bottom: 80px;
  }
  .coberAssis {
    .titleSecion {
      margin-bottom: 30px;
    }
    ul {
      margin-top: 0;
    }
  }  
  .headerBem {
    height: 80px;
    img {      
      width: 100%;
      height: auto;
    }
    .overlay-content {    
    top: 35px;
      h2 {
        width: 100%;
        font-size: 3.5rem;
      }
    }
  }
  .infoVeicle { 
    margin-top: 30px;
    .imgBem {
      position: absolute;      
      overflow: hidden;            
      margin-top: -30px;
      .img-fluid {
        position: relative;
        margin: 0 0 0 -210px;
        max-width: inherit !important;
        width: 420px;
      }
    }
    .descBem {      
      margin-top: 0;
      margin-bottom: 20px;
      border-bottom: 1px solid $blue-1;
      padding-bottom: 20px;
      text-align: right;
      .cat{
        margin-top: 20px;
      }
      .btn_client {
        margin-top: 35px;
        width: 100%;
      }
      .contact {
        width: 100%;
        text-align: center !important;
        a {
          // display: block;
          font-size: 1.0rem;
          line-height: 1.0rem;
          font-weight: 900;
        }
      }
    }
  }
  .fichaTec {
    .card-body {
      flex-direction: column;
      padding: 1px 0;
      li {             
       background: $white;   
        padding: 4px;
        margin-bottom: 1px !important;
        strong {
          padding: 4px;
          background: $blue-1;
          color: $white;
          width: 100% !important;
          display: block !important;                    
        }
      }
    }
  }
  #noticias {
    .noticia {
      .content {
        margin: -50px 10px 0 !important;
        .title {
          font-size: 1.5rem;
        }
      }
      &.newOpen {
        .content {
          margin: 0 !important;
        }
      }
    }
  }
  footer {
    text-align: center;
    figcaption {
      margin-bottom: 20px;
    }
    .navFooter {
      flex-direction: column;    
    }
    ul {
      margin-bottom: 20px;
    }
    .centralVendas {      
      small {
        display: block;        
      }
    }
    .nav-1,.nav-2,.nav-3 {
      display: none;
    }
  }
}
@include mobile-portrait-only() {}
// //END MOBILE