<div class="condutor">
	<div class="container">
		<div class="row">
			<div class="col-10">
				<h2 class="titleSecion"><span>Precisamos de mais detalhes sobre o</span> Condultor Principal</h2>					
			</div>
			<div class="col-2">
				<div class="col-6"><a href="" class="close" data-dismiss="modal" aria-label="Close"><i class="far fa-times-circle"></i></a></div>
			</div>
			<div class="col-12">
				<form action="" id="condutor">
					<div class="form-row">
	                  <div class="perg">Quem é o condutor principal?</div>
	                  <div class="form-group col-12 col-md-6">                    
	                    <div class="form-check">
	                      <input class="form-check-input" type="radio" name="princ_condutor" id="conj" value="Cônjuge">
	                      <label class="form-check-label" for="conj">
	                        Cônjuge
	                      </label>
	                    </div>

	                    <div class="form-check">
	                      <input class="form-check-input" type="radio" name="princ_condutor" id="filho_entea" value="Filho/a ou enteado/a">
	                      <label class="form-check-label" for="filho_entea">
	                        Filho/a ou enteado/a
	                      </label>
	                    </div>

	                    <div class="form-check">
	                      <input class="form-check-input" type="radio" name="princ_condutor" id="pais" value="Pai ou Mãe">
	                      <label class="form-check-label" for="pais">
	                        Pai ou Mãe
	                      </label>
	                    </div>
	                  </div>

	                  <div class="form-group col-12 col-md-6">                    
	                    <div class="form-check">
	                      <input class="form-check-input" type="radio" name="princ_condutor" id="motorista" value="Motorista particular">
	                      <label class="form-check-label" for="motorista">
	                        Motorista particular
	                      </label>
	                    </div>

	                    <div class="form-check">
	                      <input class="form-check-input" type="radio" name="princ_condutor" id="outro" value="Outro">
	                      <label class="form-check-label" for="outro">
	                        Outro
	                      </label>
	                    </div>	                    
	                  </div>
	                </div>

	                <div class="form-row">
	                  <div class="perg">Qual seu gênero</div>
	                  <div class="form-group col-12 col-md-6">                    
	                    <div class="form-check">
	                      <input class="form-check-input" type="radio" name="genero" id="mas" value="Masculino">
	                      <label class="form-check-label" for="mas">
	                        Masculino
	                      </label>
	                    </div>

	                    <div class="form-check">
	                      <input class="form-check-input" type="radio" name="genero" id="fem" value="Feminino">
	                      <label class="form-check-label" for="fem">
	                        Feminino
	                      </label>
	                    </div>
	                  </div>
	                </div>     

					<div class="form-row">
						<div class="form-group col-12">
							<label for="nome" class="label">Nome completo</label>
							<input type="text" class="form-control" id="nome" placeholder="*Seu nome">
						</div>
					</div>
					
					<div class="form-row">
						<div class="form-group col-9 col-md-6">
							<label for="nasc" class="label">Data de nascimento</label>
							<input type="text" class="form-control" id="nasc" placeholder="*dd/mm/aaaa">
						</div>
						<div class="form-group col-3 col-md-6">
							<label for="cpf" class="label">CPF</label>
							<input type="number" class="form-control" id="cpf" placeholder="000.000.000-00">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-6">
							<select class="selectpicker" id="estCivil" data-selected-text-format="count" title="*Selecione">
			                  <option value="est1">est 1</option>
			                  <option value="est2">est 2</option>
			                  <option value="est3">est 3</option>
			                </select>
			                <label for="estCivil" class="label lSel">Estado</label>
			        	</div>
			        	<div class="form-group col-9 col-md-6">
							<select class="selectpicker" id="profissao" data-selected-text-format="count" title="*Selecione">
			                  <option value="prof1">prof 1</option>
			                  <option value="prof2">prof 2</option>
			                  <option value="prof3">prof 3</option>
			                </select>
			                <label for="profissao" class="label lSel">Estado</label>
						</div>
			    	</div>		
					
					<div class="form-row">
						<div class="col-12">
							<a href="wizard.html" class="btn blue btn_client">AVANÇAR</a>
						</div>
					</div>					
				</form>		
			</div>
		</div>
	</div>
</div>