<footer>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4">
				<figure class="logoFooter">
					<img src="images/logo-qtm-white.png" alt="logo quanto mais seguros" class="img-fluid">
					<figcaption>
						A Quanto Mais é uma empresa especializada em consórcios. Nós atuamos como uma verdadeira consultoria para os clientes.
					</figcaption>
				</figure>
			</div>
			<div class="col-12 col-md-6 ml-auto mr-auto">
				<div class="navFooter">
					<div class="nav-1">
						<ul>
							<li>
								<a href="sobre.html">Sobre a gente</a>
							</li>
							<li>
								<a href="seguros.html">Serviços</a>
							</li>
							<li>
								<a href="blog.html">Blog</a>
							</li>
							<li>
								<a href="#" class="btCote">Faça uma cotação</a>
							</li>
						</ul>
					</div>
					<div class="nav-2">
						<ul>
							<li>
								<a href="central_ajuda.html">Tire suas dúvidas</a>
							</li>
							<li>
								<a href="politicas.html">Política de privacidade</a>
							</li>
							<li>
								<a href="termos-uso.html">Termos de uso</a>
							</li>
						</ul>
					</div>
					<div class="nav-3">
						<ul>
							<li>
								<a href="#"><i class="fab fa-facebook-f"></i></a>
							</li>
							<li>
								<a href="#"><i class="fab fa-instagram"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="centralVendas">
					<p><small>Central de Vendas:</small> +55 81 0000.0000 / 81 0000.0000 <small>Seg a Sex, das 09h às 18h </small></p>
				</div>
			</div>
		</div>
		<div class="row copy">
			<div class="col-12">
				<p>© Copyright: QUANTO MAIS - Serviços e Soluções</p>
			</div>
		</div>
	</div>
</footer>