<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light navClient">
	  <div class="container">
		<a class="navbar-brand" href="index.html">
		  	<figure>
		  		<img src="images/logo-qtm-color.png" alt="Quanto Mais Seguros" class="img-fluid">
		  	</figure>
	  	</a>		  	
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCLient" aria-controls="navbarCLient" aria-expanded="false" aria-label="Toggle navigation">
	    	<span><img src="images/nav-toggle.svg" alt=""></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarCLient">
			<ul class="navbar-nav ml-auto">
		      <li class="nav-item">
		        <a data-scroll class="scroll_client nav-link" href="seguros.html">Seguros</a>
		      </li>
		      <li class="nav-item">
		        <a data-scroll class="scroll_client nav-link" href="sobre.html">Sobre a Gente</a>
		      </li>		      
		      <li class="nav-item">
		        <a data-scroll class="scroll_client nav-link" href="central_ajuda.html">Central de Ajuda</a>
		      </li>
		    </ul>
		    <ul class="social_header">
		    	<li><a href="" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>				
		    </ul>	
	  	</div>
	  </div>
	</nav>
</header>