<div class="row">
	<div class="col-12">
		<div class="comentario">
			<h3 class="title">Lorem ipsum dolor sit.</h3>
			<p class="resumeComent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi eos amet ipsum odio praesentium nostrum cumque, debitis, odit sunt reiciendis, assumenda architecto esse pariatur et. Expedita voluptatibus repellat, pariatur porro?</p>
			<div class="avaliacao">
				<div class="rating">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star-half-alt"></i>
					<i class="far fa-star"></i>
				</div>
				<div class="panelComent">
					<ul>
						<li><span class="nameUser">Fulano de Tal</span></li>
						<li><span class="date">09/01/2019</span></li>
						<li><a href="#dt1" class="btn btn_client" data-toggle="collapse">Detalhes</a></li>
					</ul>
				</div>				
			</div>
			<div id="dt1" class="collapse">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae aspernatur perferendis odio rem distinctio voluptas, excepturi iusto debitis magnam totam iure assumenda numquam neque tempore voluptatum cumque soluta ratione eum dolores nostrum blanditiis eius dolorum culpa tempora autem. Fugiat aliquam voluptatibus eaque similique quo provident dolor optio quisquam ut unde.</p>
			
				<div class="tableComent">
					<table class="table table-striped table-bordered tableClient">
						<thead>
							<tr>
		                    <th colspan='2'>Avaliação</th>
		                  </tr>
		                </thead>
						<tbody>
							<tr>
								<td>Item</td>
								<td>
									<i class="fas fa-star"></i>
									<i class="fas fa-star-half-alt"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
								</td>
							</tr>
							<tr>
								<td>Item</td>
								<td>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
	</div>
	<!-- Comentário 1 -->

	<div class="col-12">
		<div class="comentario">
			<h3 class="title">Lorem ipsum dolor sit.</h3>
			<p class="resumeComent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi eos amet ipsum odio praesentium nostrum cumque, debitis, odit sunt reiciendis, assumenda architecto esse pariatur et. Expedita voluptatibus repellat, pariatur porro?</p>
			<div class="avaliacao">
				<div class="rating">
					<i class="fas fa-star"></i>
					<i class="fas fa-star-half-alt"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<div class="panelComent">
					<ul>
						<li><span class="nameUser">Fulano de Tal</span></li>
						<li><span class="date">09/01/2019</span></li>
						<li><a href="#dt2" class="btn btn_client" data-toggle="collapse">Detalhes</a></li>
					</ul>
				</div>				
			</div>
			<div id="dt2" class="collapse">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae aspernatur perferendis odio rem distinctio voluptas, excepturi iusto debitis magnam totam iure assumenda numquam neque tempore voluptatum cumque soluta ratione eum dolores nostrum blanditiis eius dolorum culpa tempora autem. Fugiat aliquam voluptatibus eaque similique quo provident dolor optio quisquam ut unde.</p>
			
				<div class="tableComent">
					<table class="table table-striped table-bordered tableClient">
						<thead>
							<tr>
		                    <th colspan='2'>Avaliação</th>
		                  </tr>
		                </thead>
						<tbody>
							<tr>
								<td>Item</td>
								<td>
									<i class="fas fa-star"></i>
									<i class="fas fa-star-half-alt"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
								</td>
							</tr>
							<tr>
								<td>Item</td>
								<td>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
	</div>
	<!-- Comentário 2 -->

	<div class="col-12">
		<div class="comentario">
			<h3 class="title">Lorem ipsum dolor sit.</h3>
			<p class="resumeComent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi eos amet ipsum odio praesentium nostrum cumque, debitis, odit sunt reiciendis, assumenda architecto esse pariatur et. Expedita voluptatibus repellat, pariatur porro?</p>
			<div class="avaliacao">
				<div class="rating">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star-half-alt"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<div class="panelComent">
					<ul>
						<li><span class="nameUser">Fulano de Tal</span></li>
						<li><span class="date">09/01/2019</span></li>
						<li><a href="#dt3" class="btn btn_client" data-toggle="collapse">Detalhes</a></li>
					</ul>
				</div>				
			</div>
			<div id="dt3" class="collapse">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae aspernatur perferendis odio rem distinctio voluptas, excepturi iusto debitis magnam totam iure assumenda numquam neque tempore voluptatum cumque soluta ratione eum dolores nostrum blanditiis eius dolorum culpa tempora autem. Fugiat aliquam voluptatibus eaque similique quo provident dolor optio quisquam ut unde.</p>
			
				<div class="tableComent">
					<table class="table table-striped table-bordered tableClient">
						<thead>
							<tr>
		                    <th colspan='2'>Avaliação</th>
		                  </tr>
		                </thead>
						<tbody>
							<tr>
								<td>Item</td>
								<td>
									<i class="fas fa-star"></i>
									<i class="fas fa-star-half-alt"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
									<i class="far fa-star"></i>
								</td>
							</tr>
							<tr>
								<td>Item</td>
								<td>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
	</div>
	<!-- Comentário 3 -->
</div>

<div class="row justify-content-between text-center">
	<div class="col-5">
		<a href="" class="btn btn_client">
			Mais Avaliações <span class="badge">3</span>
		</a>
	</div>
	<div class="col-5">
		<a href="" class="btn btn_client">
			Avaliar este Veículo
		</a>
	</div>
</div>