<div class="simule">
	<div class="container">
		<div class="row">
			<div class="col-10">
				<h2 class="titleSecion"><span>Seguro rápido e descomplicado</span> Faça sua cotação</h2>					
			</div>
			<div class="col-2">
				<div class="col-6"><a href="" class="close" data-dismiss="modal" aria-label="Close"><i class="far fa-times-circle"></i></a></div>
			</div>
			<div class="col-12">
				<form action="" id="simule">
					<div class="form-row">
						<div class="form-group col-12 col-md-6">
							<label for="nome" class="label">Seu nome</label>
							<input type="text" class="form-control" id="nome" placeholder="*Seu Nome">
						</div>
						<div class="form-group col-12 col-md-6">
							<label for="apelido" class="label">Apelido <span>como gosta de ser chamado</span></label>
							<input type="text" class="form-control" id="apelido" placeholder="*Seu apelido">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-12">
							<label for="email" class="label">Qual seu e-mail? <span>não enviamos span</span></label>
							<input type="email" class="form-control" id="email" placeholder="*Seu E-mail">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-12">
							<label for="telefone" class="label">Qual seu telefone? <span>ligaremos apenas para confirmar seus dados</span></label>
							<input type="tel" class="form-control" id="tel" placeholder="*Seu Telefone">
						</div>						
					</div>	
					<div class="form-row">
						<div class="form-group col-10 col-md-10">
							<label for="cep" class="label">Seu CEP</label>
							<input type="text" class="form-control" id="local" placeholder="*Bairro ou CEP">
						</div>
						<div class="form-group col-2 col-md-2">
							<a href="#" class="btn blue btn_client btLocal"><i class="fas fa-map-marker-alt"></i></a>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-9 col-md-9">
							<label for="endereco" class="label">Endereço</label>
							<input type="text" class="form-control" id="endereco" placeholder="*Endereço">
						</div>
						<div class="form-group col-3 col-md-3">
							<label for="numero" class="label">Nº</label>
							<input type="number" class="form-control" id="numero" placeholder="*s/n">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-3">
							<select class="selectpicker" id="ufClient" data-selected-text-format="count" title="*UF">
			                  <option value="uf1">uf 1</option>
			                  <option value="uf2">uf 2</option>
			                  <option value="uf3">uf 3</option>
			                </select>
			                <label for="ufClient" class="label lSel">Estado</label>
			        	</div>
			        	<div class="form-group col-9 col-md-9">
							<label for="cidade" class="label">Cidade</label>
							<input type="text" class="form-control" id="cidade" placeholder="*Cidade">
						</div>
			    	</div>		

					<div class="form-group">
					    <div class="form-check">
					      <input class="form-check-input" type="checkbox" id="rNovidades2">
					      <label class="form-check-label" for="rNovidades2">
					        Desejo receber novidades
					      </label>
					    </div>
					</div>
					<div class="form-row">
						<div class="col-12">
							<a href="wizard.html" class="btn blue btn_client">Cote Agora</a>
						</div>
					</div>
					<div class="form-row">
						<div class="col-6"><small>*Não enviamos spam</small></div>						
					</div>
				</form>		
			</div>
		</div>
	</div>
</div>